<div class="top-section" id="top">
  <button class="back-arrow" onclick="goBack()">
    <img src="../images/back-arrow.png" alt="Go back">
  </button>
  <h4>Login</h4>
</div>
<div class="content-top login-section">
  <div class="centered">
    <img src="../images/plantiful-logo-big.png" alt="Plantiful logo">
  </div>

  <h4 class="centered" style="margin-top: -50px">Login</h4>
  <img src="../images/logo_high.png" class="icon" alt="Plantiful logo"
    style="display: block; margin: 0 auto; width: 80px">
  <h3>Welcome back <br> Plantiful master!</h3>
  <form action="/login" method="POST" id="form">
    <label class="email-password" for="userEmail">E-mail</label>
    <input type="text" name="userEmail" placeholder="user@email.com" required>
    <label class="email-password" for="password">Password</label>
    <input type="password" name="password" placeholder="********" required>

    <button class="btn" style="display: block; margin: 10px auto;">Log in</button>

    {{#if error }}
    <div class="error-message">{{ error }}</div>
    {{/if}}

    <p class="small" style="text-align: center; margin: 30px auto;">
      Don't have an account? <a a class="underlined" style="text-align: center;" href="/signup">Sign up</a>
    </p>
  </form>
  <script>
    /* Script to hide top section when scrolling down */
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("top").style.top = "0";
      } else {
        document.getElementById("top").style.top = "-50px";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>
</div>