<div class="bg" style="min-height: 100vh;">
  <div class="header">
    <button class="back-arrow" onclick="goBack()">
      <img src="../images/back-arrow.png" alt="Go back">
    </button>
  </div>
  <h4 class="centered" style="margin-top: -50px">Login</h4>
  <img src="../images/plantiful_logo.png" class="icon" alt="Plantiful logo"
    style="display: block; margin: 0 auto; width: 80px">
  <h2 class="h2-color">Welcome back <br> Plantiful master!</h2>
  <form action="/login" method="POST" id="form">
    <label class="email-password" for="userEmail">User email</label>
    <input type="text" name="userEmail" placeholder="user@email.com" required>
    <label class="email-password" for="password">Password</label>
    <input type="password" name="password" placeholder="********" required>

    <br>

    <button class="btn" style="display: block; margin: 10px auto;">Log in</button>

    {{#if error }}
    <div class="error-message">{{ error }}</div>
    {{/if}}

    <p class="small" style="text-align: center; margin: 30px auto;">
      Don't have an account? <a a class="underlined" style="text-align: center;" href="/signup">Sign up</a>
    </p>
  </form>
</div>