<div id="container-login">
    <form id="form" action="/signup" method="POST">
        <h4>Sign up</h4>
        <h2 class="h2-color">Start making your <br> life greenier.</h2>

        <label class="email-password" for="userEmail">User email</label>
        <input type="text" name="userEmail" placeholder="user@email.com" required>

        <label class="email-password" for="password">Password</label>
        <input type="password" name="password" placeholder="********" required>

        <br>

        <button type="submit" class="btn">Create account</button>
        {{#if error}}
        <div class="error-message">{{ error }}</div>
        {{/if}}

        <p class="account-message email-password">
            You are already a plantiful master? <a href="/signup">Log in</a>
        </p>
    </form>

</div>