@import 'global';

input[type=text], input[type=password], input[type = number] {
 font-family: 'Roboto', sans-serif;
 border: none;
 border-bottom: 2px solid #1A697F;
 width: 280px; //Relative
 padding: 12px;
 margin: 24px;
 font-size: 16px;
 line-height: 24px;
 color: $color-text;
  &::placeholder {
  color: $color-gray-dark;
 }
}

.input-error {
  background-image:url('/images/error.png'); 
  background-repeat: no-repeat; 
  background-position: 278px 18px;
  background-size: 25px;
}

.input-success {
  background-image:url('/images/check.png'); 
  background-repeat: no-repeat; 
  background-position: 278px 18px;
  background-size: 25px;
}

.form-info {
  position: absolute;
  width: 97px;
  height: 24px;
  left: 32px;
  top: 78px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: $color-green;
}

input[type=range] {
  -webkit-appearance: none;
  width: 327px;
  height: 8px;
  border-radius: 5px;  
  background: $color-gray-medium; 
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
    &::-webkit-slider-thumb   { 
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: $color-primary;
    cursor: pointer; 
    }
    &::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: $color-primary;
    cursor: pointer;
    }
}

#imageAdd {      
  background: $color-gray-light;
  width:250px;
  height:30px;
  font-size:15px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border:2px solid $color-primary;
  margin-left: 24px;
}

#uploadImage{
  visibility: hidden;
  height:0px;
  width: 0px;
}

label {
  margin-left: 24px;
  margin-bottom: -10px;
}

.search-content{
  width:100%;
  position:relative;
}

input[type=search] {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  line-height:1.2em;
  border:2px solid $color-gray-dark;
  border-radius: 25px;
  height:50px;
  outline:none;
  margin:1em 0;
  width:100%;
  padding:12px 12px 12px 32px;
  cursor:pointer;
  &:focus{
    color: $color-primary;
    border-color: $color-primary;
  }
}

.search-icon{
  position:absolute;
  margin-top:32px;
  margin-left:12px;
  &:hover
    path{
      fill:$color-primary;
    }
  &:focus{
    fill:$color-primary;
  }
  path{
    fill:$color-text-opacity;
    transform:scale(1);
    transition: fill .05s;
  }
}

.places-tags{
  ul{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom:16px;
    /*for iOS scrolling*/
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    li{
      border-radius: 25px;
      background-color:$color-gray-light;
      padding:12px 16px;
      display:inline-block;
      font-family: 'Roboto', sans-serif;
      color:$color-text-opacity;
      font-size:.9em;
      margin-right:12px;
    }
    .active{
      background-color:$color-light-blue;
      color:$color-gray-light;
    }
    &:focus{
      background-color:$color-light-blue;
      color:$color-gray-light;
    }
  }
}

.filters-content{
  display:flex;
  justify-content: space-between;
  margin-top:16px;
  h5{
    margin:0;
    color: $color-primary;
  }
  .select-filters{
    width:100px;
    height:25px;
    margin:0px;
    padding:0px;
    background-color:transparent;
    // border-bottom:1px solid $color-text;
    select{
      width:100%;
      border:0px;
      background-color:transparent;
      font-family:roboto;
      font-size:1em;
      color: $color-primary;
      z-index:3;
      outline:none;
      cursor:pointer;
      background: url(../images/icon-arrow-down.png) 100% / 8% no-repeat transparent;
      
      /*reset default styles*/
      margin:0px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    option{
      padding:12px;
    }
    &::-ms-expand{
      display:none;
    }
    &:focus{
      outline:none;
    }
  }
}


