$color-primary: #1A697F;
$color-green: #62C890;
$color-light-green:#d7f0bc;
$color-light-blue: #77A3B1;
$color-text: #110F24;
$color-gray-dark: #CCCED0;
$color-gray-medium: #ECECEE;
$color-gray-light: #F6F6F9;
$color-text-opacity:rgba(17, 15, 36, 0.4);

// font-family: 'Domine', serif;
// font-family: 'Roboto', sans-serif;

body{
  width:100%;
  font-size:16px;
}

#container {
  min-height: 100%;
  margin-bottom: 60px;
  font-size:1rem;
  min-height:100vh;
}

.content{
  margin:1em;
}


///*** DESKTOP MINIMUN ***///
@media (min-width: 1024px) {
  .content{
    width:1020px;
    margin:0 auto;
  }
  
}




