$color-primary: #1A697F;
$color-green: #62C890;
$color-light-green:#d7f0bc;
$color-light-blue: #77A3B1;
$color-text: #110F24;
$color-gray-dark: #CCCED0;
$color-gray-medium: #ECECEE;
$color-gray-light: #F6F6F9;
$color-text-opacity:rgba(17, 15, 36, 0.4);

// font-family: 'Domine', serif;
// font-family: 'Roboto', sans-serif;

body{
  width:100%;
}

#container {
  min-height: 100%;
  margin-bottom: -60px;
}

.content{
  padding:1em;
}

h1, h2, h3 {
  font-family: 'Domine', serif;
}

h1 {
  font-size: 3em;
} 

h2 {
  font-size: 2.5em;
} 

h3 {
  font-size: 2em;
} 

h4, h5, p {
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-weight: bold;
  font-size: 1.5em;
}

h5 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
  .p-small {
    font-size: 1em;
  }
}



