@import 'global';

.plants-showcase {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  .plant-card{
    flex: 0 46%;
    margin: 2%;
    padding-bottom:16px;
    border-bottom:1px solid $color-gray-dark;
    .card-info{
      margin-top:16px;
      .right{
        float:right;
      }
      .left{
        float:left;
      }
    }
  }
  .plant-img{
  width:100%;
  }
  h4{
    color:$color-green;
  }
  h5{
    color:$color-text-opacity;
  }

}