@import 'global';

.plant-centered {
  width: 95vw;
}

hr {
  color: $color-gray-light;
  width: 90%;
}

.col-3 {
  width: 28vw;
  display: inline-block;
  border-right: 1px solid $color-gray-medium;
  text-align: center;
  padding: 5px;
  p {
    margin: 0;
  }
  &:last-child {
    border-right: 0px;
  }
  img {
    max-width: 28vw;
  }
}

.plant-icon {
  display: block;
  margin: 10px auto;
}

.check-list {
  margin-left: 40px;
  list-style-image: url('../images/check.png');
  font-family: 'Roboto', sans-serif;
  li {
    margin: 10px 0 10px 0;
  }
}

.hashtag {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(17, 15, 36, 0.4);
  background: #ECECEE;
  border-radius: 15px;
  margin: 20px 10px;
  padding: 5px;
}

.hash-group {
  margin-top: 30px;
}

.myplant-img {
  max-width: 28vw;
  margin-right: 5px;
  border: 1px solid $color-primary;
  border-radius: 5px;
}

.myplant-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}