@import 'global';

.plant-centered {
  width: 95vw;
}

hr {
  color: $color-gray-light;
  width: 90%;
}

.col-3 {
  width: 28vw;
  display: inline-block;
  border-right: 1px solid $color-gray-medium;
  text-align: center;
  padding: 5px;
  p {
    margin: 0;
  }
  &:last-child {
    border-right: 0px;
  }
  img {
    max-width: 28vw;
  }
}

.plant-icon {
  display: block;
  margin: 10px auto;
}

.check-list {
  margin-left: $space-l;;
  list-style-image: url('../images/check.png');
  font-family: 'Roboto', sans-serif;
  li {
    margin: 10px 0 10px 0;
  }
}

.hashtag {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(17, 15, 36, 0.4);
  background: #ECECEE;
  border-radius: 15px;
  margin: 20px 10px;
  padding: 5px;
}

.hash-group {
  margin-top: 30px;
}

.myplant-img {
  flex: 0 32%;
  height: 100px;
  border-radius: 6px;
  margin-bottom:$space-xs;
}

.myplant-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $space-l;
  margin-top:$space-xl;
}

.myplant-data{
  .rating {
    display: inline;
    color:$color-green;
    margin-right:$space-xs;
    &:last-child {
      margin-left: 10px;
    }
  }
  h4{
    color:$color-green;
    margin-top:$space-m;
    margin-bottom:$space-xs;
  }
  p{
    line-height: 1.3;
  }
  ul{
    li{
      font-size:.875em;
    }
  }
}

.family{
  color:$color-text-opacity;
  border-bottom:1px solid $color-text-opacity;
  padding-bottom:$space-s;
  margin-bottom:$space-l;
}

.details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .col-3{
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%;
  }
}

.myplant-tags{
  margin-top:$space-l;
  span{
    border-radius: 25px;
    background-color:$color-gray-light;
    padding:12px 16px;
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    color:$color-text-opacity;
    font-size:.9em;
    margin-right:12px;
    margin-bottom:$space-s;
  }
  .active{
    background-color:$color-light-blue;
    color:$color-gray-light;
  }
  &:focus{
    background-color:$color-light-blue;
    color:$color-gray-light;
  }
}

/* PLANT SECTION */
.plant-section{
  margin-top:-60px;
  margin-bottom:$space-xs;
  .title-plant{
    color: #1A697F;
  }
  h4{
    color:$color-green;
    margin-top:$space-m;
    margin-bottom:$space-xs;
  }
  p{
    line-height: 1.3;
  }
  ul{
    li{
      font-size:.875em;
    }
  }
}