@import 'global';

.plants-showcase {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  .plant-card{
    flex: 0 50%;
    margin-bottom: 2%
  }
  .plant-img{
  width:100%;
  }
  h4{
    color:$color-green;
  }
  h5{
    color:$color-text-opacity;
  }
  .left{
    float:left;
  }
  .riht{
    float:right;
  }
}