@import 'global';

.plants-showcase {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  .plant-card{
    flex: 0 46%;
    margin: 2%;
    padding-bottom:$space-s;
    border-bottom:1px solid $color-gray-dark;
    .card-info{
      margin-top:$space-s;
      display:flex;
      justify-content: space-between;
    }
  }
  .plant-img{
  width:100%;
  }
  h4{
    color:$color-green;
  }
  p{
    color:$color-text-opacity;
  }

}