h1, h2, h3 {
  font-family: 'Domine', serif;
}

h4, h5, p {
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size:2.6em;
  line-height: 1.2em;
}

h2{
  font-size:2.3em;
}

h3{
  font-size:2em;
}

h4{
  font-size:1.4em;
  font-weight:400;
}

h5{
  font-size:1em;
  line-height:1.3em;
  font-weight:100;
}

.underlined {
  text-decoration: underline;
  color: $color-primary;
}

.no-margin {
  margin: 0;
}


///*** DESKTOP ***///
@media (min-width: 1024px) {
  h1 {
    font-size: 3em;
  } 

  h2 {
    font-size: 2.5em;
  } 

  h3 {
    font-size: 2em;
  } 

  h4, h5, p {
    font-family: 'Roboto', sans-serif;
  }

  h4 {
    font-weight: bold;
    font-size: 1.5em;
  }

  h5 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  p {
    font-size: 1.5em;
    .p-small {
      font-size: 1em;
    }
  }
}

h1, h2, h3, h4, h5, p {
  margin: 20px 0 20px 16px;
}

.centered {
  text-align: center;
}

.title {
    margin-top: -65px;
    margin-bottom: 40px;
}

//*** Colors ****/

.dark-green-text {
  color: $color-primary;
}

.green-text {
  color: $color-green;
}

.light-gray-text {
  color: $color-gray-medium;
}