// @import 'reset';
@import 'heroimage';
@import 'typography';
@import 'buttons';
@import 'dropdown';
@import 'forms';
@import 'dropdown';
@import 'navbar';
@import 'avatar';
@import 'plantCard';
@import 'login';
@import 'signup';
@import 'myGarden';



 /************ ALERTS ************/

 .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
   //  border-radius: 4px;
    }
    
    .alert-success {
    color: #fff;
    background-color: #19b698;
    border-color: #0fac8e;
    }
    
    .alert-info {
    color: #fff;
    background-color: #4aa3df;
    border-color: #4099d5;
    }
    
    .alert-danger {
    color: #fff;
    background-color: #ea6153;
    border-color: #e05749;
    }