@import 'buttons';
@import 'dropdown';
@import 'forms';
@import 'avatar';

/************ MAIN LAYOUT ************/

.sticky-nav {
    width: 100vw; 
    display: block;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px 0 10px 0;
    text-align: center;
    ul{   
        li{
        display: inline;
        margin-right: 20px;
        a {
        text-decoration: none;
        color: black;
        &:hover{
            color: blue;
        }
       }
      }
    }
}


/************ HOME VIEWS ************/

.plants-showcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .plant-card{
    width: 30%;
    margin: 1em;
    }
    .plant-img{
    width:100%;
    }
 }

 /************ ALERTS ************/

 .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    }
    
    .alert-success {
    color: #fff;
    background-color: #19b698;
    border-color: #0fac8e;
    }
    
    .alert-info {
    color: #fff;
    background-color: #4aa3df;
    border-color: #4099d5;
    }
    
    .alert-danger {
    color: #fff;
    background-color: #ea6153;
    border-color: #e05749;
    }