@import 'reset';
@import 'heroimage';
@import 'typography';
@import 'buttons';
@import 'dropdown';
@import 'forms';
@import 'dropdown';
@import 'navbar';
@import 'avatar';
@import 'plantCard';
@import 'profile';
@import 'plantDetail';
@import 'errors';
@import 'topsection';

img {
   max-width: 90vw;
}

.hero-logo {
   img {
      width: auto;
   }
}

 /************ ALERTS ************/

.fixed {
   position: absolute;
}

 .alert {
   padding: 15px;
   border: 1px solid transparent;
   margin-top: -100px;
   width: 100vw;
   position: fixed;
   color: #fff;
   text-align: center;
   animation: moveInBottom 5s ease-out;
}

@keyframes moveInBottom {
   0% { margin-top: 0px; }
   80% { margin-top: 0px; }
   100% { margin-top: -100px; }
 }
    
.alert-success {
   background-color: #62C890;
   border-color: #62C890;
}

.alert-info {
   background-color: #1A697F;
   border-color: #1A697F;
}

.alert-danger {
   background-color: #C84040;
   border-color: #C84040;
}
