{{#if infoMessages}}
  <div class="alert alert-info">
    <p>{{infoMessages}}</p>
  </div>
{{/if}}

{{#if errorMessages}}
  <div class="alert alert-danger">
    <p>{{errorMessages}}</p>
  </div>
{{/if }}

{{#if successMessages}}
  <div class="alert alert-success">
    <p>{{successMessages}}</p>
  </div>
{{/if}}
