{{#if infoMessages}}
  <div class="fixed">
    <div class="alert alert-info">
      <p>{{infoMessages}}</p>
    </div>
  </div>
{{/if}}

{{#if errorMessages}}
  <div class="fixed">
    <div class="alert alert-danger">
      <p>{{errorMessages}}</p>
    </div>
  </div>
{{/if }}

{{#if successMessages}}
  <div class="fixed">
    <div class="alert alert-success">
      <p>{{successMessages}}</p>
    </div>
  </div>
{{/if}}
