<div class="plant-card">
  <img class="plant-img" src="{{this.img}}">
  <div class="card-info">
    <div clas="left">
      <h4>{{this.commonName}}</h4>
      <h5>{{this.family}}</h5>
    </div>
    <div class="right">
      <a href="/plants/{{this._id}}">
        <button class="btn btn-round">+</button>
      </a>
    </div>
  </div>
</div>