<div class="plant-card">
  <img class="plant-img" src="{{this.img}}">
  <div class="card-info">
    <div class="left">
      <h4 class="no-margin">{{this.commonName}}</h4>
      <h5 class="no-margin">{{this.family}}</h5>
    </div>
    <div class="right">
      <a href="/plants/{{this._id}}">
        <button class="btn-plus">+</button>
      </a>
    </div>
  </div>
</div>