<div class="top-section" id="top">
  <button class="back-arrow" onclick="goBack()">
    <img src="../images/back-arrow.png" alt="Go back">
  </button>
  <h4>Add new plant to my garden</h4>
</div>

<div class="content-top addplant-section">
  <form action="/mygarden/add" method="POST" enctype="multipart/form-data">

    <div class="form-group">
      <label for="nickname">Your plant's nickname:</label>
      <input type="text" name="nickname" placeholder="How would you call this plant?">
    </div>

    <div class="form-group">
      <div class="select-field">
        <label for="typePlant" style="margin-left: -3px;">Type of plant</label>
        <select name='typePlant'>
          <option selected hidden>Choose a plant</option>
          {{#each plants}}
          <option value={{ this._id }}>{{ this.commonName }}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="shoppingPoint">Where did you get this plant?:</label>
      <input type="text" name="shoppingPoint" placeholder="Nevermind St. 34">
    </div>

    <div class="form-group">
      <label for="rating">Rate this plant:</label>
      <input type="range" name="rating" min="0" max="5">
    </div>

    <div class="form-group">
      <label for="photo">Start your plant diary:</label>
      <button class="btn btn-outlined" onclick="document.getElementById('uploadImage').click()"
        style="display: block; margin: 20px auto 0 auto;">Upload
        image</button>
      <input id="uploadImage" type="file" name="photo" />
    </div>

    <div class="btn-container">
      <button type="submit" class="btn">Save</button>
      <a href="/mygarden"><button type="submit" class="btn-outlined">Cancel</button></a>
  </form>
</div>
</div>