<div id="container-center">
  <br>
  <p>Oops! This is strange... You seem to be looking for something that does not actually exist. Feel free to go back to
    our catalogue and find a pretty plant. :)</p>
  <br>
</div>