<div class="alert flash {{ alertClass }}">
  {{!-- <button type="button" class="close">×</button> --}}
  <strong class="alert-type">{{type}}</strong>
  <span class="alert-message">{{message}}</span>
</div>