<section class="hero">
  <div class="hero-content">
    <h2 class="hero-title">
      Life is beautiful with plants
    </h2>
    <h5 class="hero-subtitle">
      Pick a plant and start your collection
    </h5>
    <span class="hero-logo"><img src="./images/plantiful_logo.png"></span>
  </div>
</section>
<div class="content">
  <div class="plants-showcase">
    {{#each this.data}}
    {{> plantcard this}}
    {{/each}}
  </div>
</div>