<h1>{{title}}</h1>
<div id="container">
  <div class="plants-showcase">
    {{#each this.data}}
    <div class="plant-card">
      <a href="/plants/{{this._id}}">
        <h3>{{this.commonName}}</h3>
      </a>
      <a href="#"><img class="plant-img" src="{{this.img}}"></a>
    </div>
    {{/each}}
  </div>
</div>