<h1>{{title}}</h1>
<div id="container">
  <div class="plants-showcase">
    {{#each this.data}}
    <div class="plant-card">
      <h3><a href="/{{this._id}}"></a>{{this.commonName}}</a> </h3>
      <a href="#"><img class="plant-img" src="{{this.img}}"></a>
    </div>
    {{/each}}
  </div>
</div>