<!DOCTYPE html>
<html>

<head>
  <title>Plantiful</title>
  <meta name="viewport" content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Domine:400,700|Roboto:300,400,700&display=swap&subset=latin-ext"
    rel="stylesheet">
  <link rel='icon' src='/images/plantiful_logo.png' alt='Plantiful logo' />
</head>

<body>

  {{{flash}}}
  {{{body}}}

  <nav class='sticky-nav'>
    <ul>
      <button onclick="goBack()" class="btn">Back</button>
      <li><a href='/'>Home</a></li>
      <li><a href='/mygarden'>My garden</a></li>
      <li><a href='/profile'>Profile</a></li>
    </ul>
  </nav>


  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>

</html>