<h1>My garden</h1>
<p>Welcome {{ user.userEmail }}!</p>
<p>Plants in my garden:</p>

<div class="myplant-card">
  {{#each user.userPlants}}
  {{!-- Should display a picture --}}
  <h3><a href="/mygarden/{{ this._id }}">{{ this.nickname }}</a></h3>
  {{#each this.userPics}}
  <img src="{{ this.imgPath }}" alt="Picture of a plant" class="plant-img">
  {{/each}}
  {{/each}}
</div>

<button class="btn"><a href="/mygarden/add">Add plant</a></button>